<h1 style="color: white;">Hello, Ben!</h1>
<div>
  <a href="http://pokemondb.net/sprites/zekrom">
    <img src="http://img.pokemondb.net/sprites/black-white/anim/normal/zekrom.gif">
  </a> 
</div>
<div style="color: white;">
  <%= link_to "Pokemons", pokemons_path %>
</div>  
